html, body {
    color: black;
    margin: 0px;
    padding: 5px 30px;
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
}
/* RACHEL GRIARTE */
.row {
    text-align: center;
    color: #074F65;
    font-size: 30px;
}
/* Rachel's About Me Page */
.row1 {
    background-image: URL("images/4.jpg");
    min-height: 230px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: .5px solid black;
    font-size: 0px; 
}
/* Rachel's Projects Page */
.row2 {
    background-image: URL("images/4.jpg");
    min-height: 230px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: .5px solid black;
    font-size: 0px; 
}
.row1:hover , .row2:hover {
    min-height: 200px;
    margin: 20px;
    font-size: 75px; 
    text-align: center;
    color: #889B0A;
}
/* Contacts */
.footer {
    color: black;
    text-align: center;
    padding: 10px;
}
.material-icons { 
    font-size: 35px; 
    font-family: 'Material Icons';
}
.material-icons:hover { 
    color: #889B0A;
    font-size: 45px; 
}
.info {
    margin-top: 30px;
    color: #2B3454;
    text-align: center;
}
#socialmedia {
    width: 37px;
    height: 37px;
    float: left;
    margin: 1px;
    padding: .5px;
}
#socialmedia:hover {
    width: 45px;
    height: 45px;
    box-shadow: 2px 2px 4px #074F65;
    background: #D5D5D5;
    border-radius: 10px;
}