html, body {
    margin: 5px;
    padding: 5px 30px;
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
}
/* RACHEL GRIARTE */
.row {
    text-align: center;
    color: #074F65;
    font-size: 30px;
}
/* Rachel's About Me Page */
.row1 {
    background-image: URL("images/4.jpg");
    min-height: 230px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: .5px solid black;
    font-size: 0px; 
}
/* Rachel's Projects Page */
.row2 {
    background-image: URL("images/4.jpg");
    min-height: 230px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: .5px solid black;
    font-size: 0px; 
}
.row1:hover , .row2:hover {
    border: 5px solid #FFFFFF;
    font-size: 55px; 
    text-align: center;
    color: #889B0A;
}
/* Contacts */
.footer {
    color: black;
    text-align: center;
    padding: 10px;
}
.material-icons { 
    font-size: 35px; 
}
.material-icons:hover { 
    color: #889B0A;
    font-size: 45px; 
}
.info {
    color: #074F65;
    text-align: center;
    background: linear-gradient(#DCDBDB, #FFFFFF);
    padding: 10px;
}
/* social media icon */
.socialmedia {
    margin-bottom: 60px;
}
#socialmedia {
    width: 37px;
    height: 37px;
    float: left;
    margin: 1px;
}
#socialmedia:hover {
    border-bottom: 5px solid #889B0A;
    padding-bottom: 5px;
    height: 50px;
    width: 40px;
}
/* Email/Message */
.input-field {
    width: 700px;
}
  /* label color */
.input-field label {
    color: #8A8A8A;
}
  /* label focus color */
.input-field input[type=text]:focus + label {
    color: #888888;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: #000;    
}
       